@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('/static/img/2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.486);
    font-weight: 700;
}

.navbar {
    margin-right: 15rem;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1rem;
    right: 0;
}

#home {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.467);
}

.info {
    display: block;
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 50rem;
    color: #000000;
    font-size: large;
}

/* ************************************************************************************* */
.nav-btn {
    display: none;
}

@media screen and (max-width: 1190px) {
    .header .navbar {
        display: none;
    }
    .header .logo {
        display: none;
    }
    .nav-btn {
        position: relative;
        display: inline-block;        
        top: 0; 
        right: 0;
        font-size: 3em;
        color: #ffffff;
        background-color: transparent;
        border: none;
        display: flex;
        cursor: pointer;        
    }
    .header:hover .navbar {        
        display: block;
        position: absolute; 
        background-color: transparent;            
        width: 20rem;
        height: max-content;
        padding-top: 25rem;
        cursor: pointer;
    } 
    .header .navbar>a {
        padding-top: 1rem;
        padding: auto;
        margin: 0;
        display: block;
        margin-left: auto;  
        font-size: 2rem;  
        cursor: pointer; 
        color: #ffffff;
    }
    #home {
        border: none;
        padding: 0;
        margin: 0;
        padding-top: 1rem;
        box-shadow: none;
        border-radius: none;
    }
    .photos {
        padding: 20px;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    .info {
        display: none;
    }
}

