<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>curiosity</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <link type="text/css" href="{{ url_for('static', filename='curiosity.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>    
</head>

<body>
    <header class="header">
        <button class="nav-btn">&#9776;</button>
        <a href="#" class="logo">Curiosity</a>

        <nav class="navbar">
            <a id="home" href="curiosity">curiosity</a>
            <a id="home" href="opportunity">opportunity</a>
            <a id="home" href="perseverance">perseverance</a>
            <a id="home" href="spirit">spirit</a>
            <a id="home" href="/">home</a>
        </nav>
    </header>    

    <div class="photos" id="photos">
        {% for i in photos_curiosity %}
            <img class="img_id" id="img_id" src="{{ url_for('static', filename=i) }}" alt="curiosity">
        {% endfor %}
    </div>
    
</body>
</html>